* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1260px;
}

.header__container {
    padding: 20px 0;
}

.logo {
    cursor: pointer;
}

.logo img {
    width: 100%;
}

.header__menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.header__link {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    margin-right: 40px;
}

.header__link--connecter {
    color: #6b5bff;
}

.header__link:hover {
    color: #6b5bff;
}

.header__button--main {
    padding: 15px 25px;
    background-color: #6b5bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    font-size: 14px;
}

/* Service */

.service {
    max-height: 1106px;
    background-color: #100A30;
}

.service__container {
    flex-direction: column;
    color: white;
    text-align: center;
}

.service__title {
    font-size: 35px;
    margin: 64px 0 26px 0;
}

.service__title h1,
.service__subtitle h4 {
    font-weight: 400;
}

.service__subtitle {
    color: rgba(255, 255, 255, 0.7);
    font-size: 15px;
}

.service__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 48px 0 30px 0;
}

.service__buttons--primary {
    padding: 16px 45px;
    background-color: #624DE3;
    color: white;
    font-size: 15px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.service__buttons--secondary {
    padding: 15px 30px;
    background-color: transparent;
    color: white;
    border: 1px solid #C3C1CB;
    border-radius: 8px;
    font-size: 17px;
    cursor: pointer;
}

.service__image img {
    width: 100%;
}

/* Turnover */

.text-header {
    font-weight: 700;
    margin-bottom: 10px;
}

.text-main {
    max-width: 500px;
}

.text-title {
    color: #100A30;
    font-size: 55px;
    font-weight: 400;
}

.description-text {
    color: #4C4764;
    font-size: 18px;
    line-height: 30px;
    margin: 54px 0 27.5px 0;
}

.text-footer {
    font-weight: 700;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}


.turnover__container {
    justify-content: space-evenly;
    margin-top: 120px;
}

.turnover__header {
    color: #624DE3;
}

.turnover__footer {
    color: #624DE3;

}

.turnover__image img {
    width: 100%;
}

/* Invoice */

.invoice__container {
    justify-content: space-evenly;
}

.invoice__header {
    color: #19C787;
    font-weight: 700;
    margin-bottom: 10px;
}

.invoice__footer {
    color: #19C787;
}

.invoice__image img {
    width: 100%;
}

/* Manage */

.manage__container {
    justify-content: space-evenly;
}

.manage__header {
    color: #0084FF;
    font-weight: 700;
    margin-bottom: 10px;
}

.manage__image img {
    width: 100%;
}

.manage__footer {
    color: #0084FF;

}

/* Micro */

.micro__container {
    flex-direction: column;
    margin: 56px auto;
}

.micro__title {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: #100A30;
}

.micro__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    margin: 32px 0 120px 0;
}

.micro__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: calc(294px - 2 * 0px);
    height: calc(208px - 2 * 0px);
    gap: 24px;
    box-shadow: -1px 4px 20px 0px rgba(0, 0, 0, 0.05);
}

.micro__text {
    font-size: 17px;
    color: #100A30;
}

.micro__image {
    width: 39%;
}

/* Rates */

.rates__container {
    flex-direction: column;
}

.rates__title {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    color: #100A30;
}

.rates__main {
    width: 100%;
}

.rates__subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0 80px 0;
    gap: 28px;
}

.rates__button {
    background-color: #624DE3;
    color: white;
    padding: 4px 30px;
    border-radius: 200px;
    font-size: 14px;
    cursor: pointer;
    border: none;
}

.rates__subtitle--annuel {
    color: #4C4764;
    font-size: 14px;
}

.first-card {
    background-image: url('./img/rates-first.png');
}

.second-card {
    background-image: url('./img/rates-second.png');
}

.third-card {
    background-image: url('./img/rates-third.png');
}

.rates__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    gap: 67px;
    margin-bottom: 96px;
}

.rates__item--card {
    position: relative;
    background-size: 100%;
    background-repeat: no-repeat;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-position: center;
    padding: 160px 150px 30px 150px;
}

.rates__item--card p {
    position: absolute;
    left: 20px;
    bottom: 24px;
    font-size: 24px;
    color: white;
}

.rates__offer {
    background-color: rgb(230, 228, 228);
    border-radius: 6px;
    padding: 10px 10px 10px 0;
}

.rates__item--basique {
    color: #19C787;
}

.rates__item .rates__item--value {
    font-size: 15px;
    position: absolute;
    text-align: right;
    right: 20px;
}

.rates__item .rates__item--value span {
    font-size: 48px;
    margin: 0 5px;
}

.rates__item--pro {
    color: #FF9F1C;
}

.rates__offer--item {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    max-height: 24px;
    max-width: 346px;
    margin: 10px;
}

.done {
    max-width: 5%;
}

.rates__item img {
    width: 100%;
}

/* Comment   */

.comment__container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    justify-content: space-between;
    margin: 110px auto 48px;
}

.antony {
    margin-top: 81px !important;
    background-color: #E8E5FB;
}

.retour {
    background-color: #E8FAF3;
}

.retour-three {
    background-color: #FDEBEE;
}

.mood {
    background-color: #FFF5E1;
}

.matthieu {
    background-color: #E6F3FF;
}

.retour-four {
    background-color: #FFF5E1;
}

.maxine {
    background-color: #E8E5FB;
}

.retour-five {
    background-color: #FDEBEE;
}

.comment__list--one {
    width: 80%;
}

.comment__list--two {
    width: 80%;
}

.comment__content {
    padding: 40px;
}

.comment__item {
    width: 100%;
    max-width: 596px;
    border-radius: 8px;
    margin-top: 40px;
}

.comment__profile {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 0;
}

.comment__nickname p {
    color: #4C4764;
    font-size: 15px;
}

.comment__person {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.comment__description {
    font-size: 17px;
    margin-top: 36px;
    line-height: 30px;
    color: #4C4764;
}

.comment__footer {
    margin-top: 20px;
    font-size: 16px;
    color: #100A30;
}

.comment__item img {
    width: 100%;
}

.comment__title {
    font-size: 35px;
    font-weight: 700;
    color: #100A30;
    margin-top: 50px;
}


/* Register */

.register__container {
    background-image: url(./img/register.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: center;
    max-height: 380px;
    margin: 116px auto;
    padding-bottom: 80px;
    text-align: center;
    justify-content: center;
    border-radius: 8px;
    color: white;
}

.register__container h1 {
    font-weight: 400;
}

.register__subtitle {
    margin: 95px 0 8px 0;
    font-size: 14px;
}

.register__title {
    font-size: 48px;
    margin-bottom: 43px;
}

.register__button {
    padding: 20px 35px;
    background-color: #100A30;
    color: white;
    cursor: pointer;
    font-size: 14px;
    border: none;
    border-radius: 6px;
}

/* Footer */

.footer__container {
    flex-wrap: wrap;
    margin: 152px auto 22px;
}

.footer__logo {
    margin-bottom: 24px;
}

.footer__text {
    margin: 6px 0;
    cursor: pointer;
    color: #4C4764;
}

.footer__text:hover {
    text-decoration: underline;
}

.footer__text--title {
    margin: 12px 0;
    color: #100A30;
    font-weight: 700;
}

.footer__social {
    margin: 24px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
}

.footer__social img {
    cursor: pointer;
    width: 100%;
}

@media (max-width: 1024px) {
    .header__container {
        flex-direction: column;
        padding: 10px 0;
    }

    .header__link {
        font-size: 14px;
        margin-right: 10px;
    }

    .header__button--main {
        width: 100%;
        font-size: 12px;
        padding: 8px;
    }

    .service__title {
        font-size: 30px;
        margin: 20px 0;
    }

    .service__buttons {
        flex-direction: column;
    }

    .service__subtitle {
        font-size: 14px;
    }

    .description-text {
        font-size: 16px;
    }

    .turnover__container,
    .invoice__container,
    .manage__container {
        margin: 20px 10px;
    }

    .text-header {
        font-size: 13px;
    }

    .text-title {
        font-size: 30px;
        padding: 10px 0;
    }

    .text-footer {
        font-size: 13px;
    }

    .turnover__text {
        margin: 20px 0;
    }

    .turnover__container,
    .invoice__container,
    .manage__container {
        flex-direction: column;
    }

    .micro__container {
        margin: 10px auto;
    }

    .micro__title {
        font-size: 20px;
    }

    .micro__list {
        margin: 15px 0;
    }

    .rates__container {
        margin: 0 auto;
    }

    .rates__title {
        font-size: 24px;
    }

    .rates__list {
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .comment__container {
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
    }

    .comment__title {
        text-align: center;
        font-size: 25px;
    }

    .register__container {
        margin: 20px auto;
    }

    .register__title {
        font-size: 30px;
    }

    .register__button {
        font-size: 12px;
    }

    .footer__container {
        flex-direction: column;
        align-items: center;
        margin: 40px;
    }

    .footer__item {
        margin: 10px 0;
        text-align: center;
    }

    .footer__social {
        justify-content: center;
    }
}

@media (max-width: 420px) {
    .header__container {
        width: 100%;
        padding: 10px;
    }

    .header__link {
        font-size: 10px;
        margin-right: 10px;
    }

    .header__button--main {
        font-size: 8px;
        padding: 4px;
    }

    .service__title {
        font-size: 20px;
        margin: 20px 0;
    }

    .service__subtitle {
        font-size: 12px;
    }

    .description-text {
        font-size: 14px;
    }

    .text-header {
        font-size: 13px;
    }

    .text-title {
        font-size: 30px;
        padding: 10px 0;
    }

    .text-title {
        font-size: 20px;
        padding: 5px 0;
    }

    .micro__title {
        font-size: 15px;
    }

    .micro__list {
        margin: 10px 0;
    }

    .rates__title {
        font-size: 20px;
    }

    .rates__offer--item {
        font-size: 14px;
    }

    .comment__title {
        font-size: 20px;
    }

    .register__container {
        margin: 10px auto;
    }

    .register__subtitle {
        font-size: 12px;
    }

    .register__title {
        font-size: 20px;
    }

    .footer__container {
        margin: 20px;
    }

    .footer__text {
        font-size: 14px;
    }

    .footer__text--title {
        font-size: 16px;
    }
}